<div class="topic">
  <div class="video-box">
    <div class="video">
    <%# <iframe width="320" height="210" padding='20' src="<%= @topic.video_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> %>
    </div>
  </div>
  <div class="video-detail">
    <div class="video-detail__title">
      <%= topic.title %>
    </div>
    <div class="video-detail__channel">
    </div>
  </div>
</div>