<div class="home-wrapper">
  <div class="home-title">
    Vch@
  </div>
  <div class="home-detail">
    Vtuber専用チャットアプリ。<br/>「思いを分かち合いたいのに、Youtubeのコメント欄だと会話しにくい...」「Twitterだとリプライ送りづらい...」<br/>なんてことありませんか？<br/>あなたの推しについてファン同士で語る場所、提供します。<br/>思う存分、皆さんで語り合いましょう！
    <h1>※誹謗中傷・アンチコメントはおやめください。見つけた場合はスルーおよび該当ユーザーのブロックをお願いいたします※</h1>
  </div>

  <div class="home-btns">
    <a href="/users/sign_up" class="signup-btn">新規登録</a>
    <a href="/users/sign_in" class="login-btn">ログイン</a>
    <a href="/topics" class="totopics-btn">ログインせずに<br/>はじめる</a>
  </div>

</div>