.newtopic-wrapper{
  margin: 60px auto;
  height: 600px;
  width: 660px;
  background-color: white;
  border: 1px solid $kosaka;
}

.newtopic-form{
  margin: 0 20px;
  padding: 0 20px;
}
.text-field{
  width: 100%;
}