
* {
  box-sizing: border-box;
}

header{
  width: 100vw;
  height: 65px;
  background-color: #ccd4d8;
  color: white;
}

.material-icons{
  color: white;
  &:hover{
    color: $dark-kosaka;
  }
}

.main-header{
  display: flex;
  font-size: 30px;
  padding: 7px;
  position: relative;

  &__left-box{
    display: flex;
    text-align: center;
    position: absolute;
    left: 25px;
    padding-top: 6px;
    &__home{
      margin: 0 15px 0 0,
    }
  }
  &__center-box{
    font-size: 35px;
    position: absolute;
    right: 50%;
    left: 50%;
    p{
      display: inline-block;
    }
  }
  &__right-box{
    position: absolute;
    right: 25px;
    display: flex;
    
    &__icon{
      padding-top: 6px;
    }
    &__nickname{
      font-size: 18px;
      padding-top: 12px;
      padding-left:18px;
    }
  }
}

.icon-for-signin{
  position: absolute;
  right: 0px;
  padding-top: 15px;
  font-size: 15px;
  line-height: 0px;
}


// ユーザーがログインしてないとき
.header-btns{
  display:flex;

  text-align: center;
  a{
    display: inline-block;
    height: 50px;
    padding: 0 30px;
    line-height: 23px;
    letter-spacing: 1px;
    text-align: center;
    border: 1px solid white;
    border-radius: 2px;
    font-size: 15px;
    line-height: 50px;
    color: white;
    margin-left: 20px;
    &:hover{
      color: $dark-kosaka;
    }
  }
}



body{
  width: 100vw;
  height: 100vh;
  background-color: $lightgray;
}

.left-contents{
  width: 400px;
  height: calc(100vh - 70px);
  float: left;
  color: white;
}

.contents{
  margin: 20px;
  background-color: $kosaka;
  border-radius: 5px;
}

.title{
  height: 100px;
  &__text{
    padding: 20px;
    font-size: 20px;
  }
}

.movie{
  height: 250px;
  &__holder{
  padding: 20px;
  }
}

.current-users{
  height: calc(100vh - 65px - 100px - 40px - 256px - 40px);
  padding: 20px;
}

.each-user{
  padding: 0 0 5px 0;
  display: flex;
  &__icon{
    padding: 0 5px 0 0;
  }
  &__nickname{
    font-size: 12px;
  }
}

.right-contents{
  width: calc(100vw - 400px - 35px);
  height: calc(100vh - 70px - 40px);
  float: right;
  margin: 20px 20px 20px 15px;
  border-radius: 5px;
  background-color:$anjyo;
  position: relative;
}

.chat{
  margin: 30px;
}

.messages{
  overflow: scroll;
}

.message{
  display: flex;
  background-color: rgba(255, 255, 255, 0.527);
  margin: 5px;
  padding-bottom: 10px;
  border-radius: 8px;
  &__text{
    margin: 10px;
  }
}

.form{
  box-sizing: border-box;
  position: absolute;
  bottom: 20px;
  &__message{
    width: calc(100vw - 360px - 40px - 35px - 60px - 60px);
    border: 2px solid #0a7f8f;
  }
  &__send-btn{
    width: 60px;
    border: 2px solid #0a7f8f;
    border-radius: 5px;
    font-size: 12px;
    padding: 1px;
  }
}